.modal
  display block
  overflow scroll
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 1050
  -webkit-overflow-scrolling touch
  outline 0
  &.fade
    .modal-dialog
      -webkit-transform translate(0, -25%)
      -ms-transform translate(0, -25%)
      -o-transform translate(0, -25%)
      transform translate(0, -25%)
      -webkit-transition -webkit-transform 0.3s ease-out
      -moz-transition -moz-transform 0.3s ease-out
      -o-transition -o-transform 0.3s ease-out
      transition transform 0.3s ease-out
  &.in
    opacity 1
    .modal-dialog
      -webkit-transform translate(0, 0)
      -ms-transform translate(0, 0)
      -o-transform translate(0, 0)
      transform translate(0, 0)
.modal-dialog
  position relative
  margin 4px
  width 98%
.modal-content
  background-color #fff
  img
    width 100%
.modal-header
  background-color black
  height 60px
  img
    width 40px
    margin 10px
    transform rotate(45deg)
.modal-backdrop
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 1040
  background-color #000
  &.in
    opacity 0.5
.fade
  opacity 0
  -webkit-transition opacity .15s linear
  -o-transition opacity .15s linear
  transition opacity .15s linear
